body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #ff6600;
  margin: 20px 0;
}

h2 {
  font-size: 2.5rem;
  color: #333;
}

h3 {
  font-size: 1.8rem;
  color: #555;
}
hr {
  width: 50%;
  border: 0.5px solid #ff6600;
  margin: 20px auto;
}
.navbar {
  background-color: #333;
  color: white;
  padding: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.navbar #logo {
  color: #ff6600;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}
.navbar ul li {
  display: inline-block;
  margin: 0 15px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.3s;
}
